# Ignore the data lake
data_lake/

# Ignore Airflow logs
logs/

# Ignore the Postgres database files (if stored locally)
postgres_data/

# Ignore environment variables (sensitive info)
.env

personal_only/

__pycache__/
*.pyc
analysis/.ipynb_checkpoints/