requests
pandas
sqlalchemy
psycopg2-binary
numba==0.64.0
numpy>=1.22,<2.5
scipy
polars>=1.39.3
adbc-driver-postgresql
adbc-driver-manager
psycopg2-binary
python-dotenv
lightgbm
matplotlib
seaborn